{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trackify{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body style="text-align: center;">
    <header style="padding: 0rem 1rem;">
        <h1>Trackify</h1>
        <p style="font-style: italic; color: #4CAF50; font-weight: bold; margin-top: -10px; margin-bottom: 10px;">Track your finances with ease and precision.</p>
        {% if user.is_authenticated %}
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'dashboard' %}" class="nav-link">
                        <span class="nav-icon">📊</span>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'upload_receipt' %}" class="nav-link">
                        <span class="nav-icon">📤</span>
                        <span class="nav-text">Upload</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'add_expense' %}" class="nav-link">
                        <span class="nav-icon">💰</span>
                        <span class="nav-text">Add Expense</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'income_list' %}" class="nav-link">
                        <span class="nav-icon">💵</span>
                        <span class="nav-text">Income</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link logout-link">
                        <span class="nav-icon">🚪</span>
                        <span class="nav-text">Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
        {% endif %}
    </header>
    <main style="padding: 1rem;">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </main>
    <footer style="text-align: center;">
        <p>&copy; 2025 Trackify.com - All rights reserved.</p>
    </footer>
</body>
</html>
